<h3 *ngIf="products; else:noProduct">{{title}}</h3>
<div class="mb-3">
  <input type="email"
   class="form-control" 
   id="productName"
   aria-describedby="emailHelp"
   placeholder="Arama metninizi gire bilersiz.."
   [(ngModel)]="filterText">
  <div *ngIf="filterText" class="form-text">Axtardiginiz {{filterText}}.</div>
</div>
<ng-template #noProduct>Yoxdur product</ng-template>

<div class="row"> 
    <div *ngFor="let product of products | productFilter:filterText" class="card" style="width: 18rem;">
        <img [src]="product.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name | uppercase}}</h5>
          <p class="card-text">{{product.description}} {{product.unitPrice | currency:'USD':true:"1.2-2"}}</p>
          <a (click)="addToCart(product)" class="btn btn-primary">Sebete ekle</a>

        </div>
      </div>
</div>
